{% extends "base.html" %}

{% block content %}

<div class="col-md-6 mx-auto p-4">

<h3>Edit Student</h3>

<form method="POST">
{% csrf_token %}

<div class="mb-3">
<label>Name</label>
<input type="text" name="name" value="{{ student.name }}" class="form-control" required>
</div>

<div class="mb-3">
<label>USN</label>
<input type="text" name="usn" value="{{ student.usn }}" class="form-control" required>
</div>

<div class="mb-3">
<label>Section</label>
<select name="section" class="form-control" required>

{% for section in sections %}

<option value="{{ section.id }}"
{% if section.id == student.section.id %}selected{% endif %}>
{{ section }}
</option>
{% endfor %}

</select>
    <label>
<input type="checkbox" name="is_diploma"
{% if student.is_diploma %}checked{% endif %}>
 Diploma Student
</label>
    <div class="mb-3">
<label>Scheme (for Year-back)</label>
<input type="number" name="scheme_year" class="form-control"
placeholder="Leave empty for auto"
value="{{ student.scheme.year }}">
</div>

</div>

<button class="btn btn-success">
Update Student
</button>

</form>

</div>

{% endblock %}
