{% extends "base.html" %}

{% block content %}





<div class="container mt-5">

    <button onclick="history.back()" class="btn btn-outline-secondary mb-3">
        ← Back
    </button>

    <h2>Semester {{ semester }} Materials</h2>

    <table class="table table-bordered mt-4">

        <thead>
            <tr>
                <th>Title</th>
                <th>Download</th>
            </tr>
        </thead>

        <tbody>

            {% for material in materials %}

            <tr>
                <td>{{ material.title }}</td>
                <td>
                    <a href="{{ material.file.url }}" class="btn btn-success btn-sm" target="_blank">
                        Download
                    </a>
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>
{% endblock %}
