{% extends "base.html" %}

{% block content %}



<div class="col-md-10 p-4">

<h3>Staff Dashboard</h3>

<p class="text-muted">
Manage and upload study materials
</p>

<hr>

<h4>Uploaded Materials</h4>

<table class="table table-hover mt-3">

<thead class="table-dark">
<tr>
<th>Title</th>
<th>Subject</th>
<th>Semester</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for m in materials %}

<tr>

<td>{{ m.title }}</td>

<td>{{ m.subject.name }}</td>

<td>Semester {{ m.semester.number }}</td>

<td>

<a href="{{ m.file.url }}" target="_blank" class="btn btn-success btn-sm">
<i class="bi bi-eye"></i> View
</a>

<a href="/staff/delete/{{ m.id }}/" class="btn btn-danger btn-sm">
<i class="bi bi-trash"></i> Delete
</a>

</td>

</tr>

{% empty %}

<tr>
<td colspan="4" class="text-center text-muted">
No materials uploaded yet
</td>
</tr>

{% endfor %}

</tbody>

</table>

<hr>

<h4 class="mt-4" id="upload-section">Upload New Material</h4>

<form id="upload-form" action="/staff/upload/" method="POST" enctype="multipart/form-data">

{% csrf_token %}

<input type="text"
name="title"
class="form-control mb-3"
placeholder="Material Title"
required>

<select name="semester" id="semester-dropdown" class="form-control mb-3">

{% for s in semesters %}
<option value="{{ s.id }}">Semester {{ s.number }}</option>
{% endfor %}

</select>

<select name="subject" id="subject-dropdown" class="form-control mb-3">

{% for sub in subjects %}
<option value="{{ sub.id }}">{{ sub.name }}</option>
{% endfor %}

</select>

<input type="file"
name="file"
class="form-control mb-3"
required>

<button class="btn btn-primary">
Upload Material
</button>

</form>

</div>

{% endblock %}